@model string[]
@{
    ViewBag.Title = "Editar - " + Model[0];
}
<div class="row">
    <h1>Edição da página: <em>@Model[0]</em></h1>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        if (!string.IsNullOrEmpty(ViewBag.Mensagem))
        {
            <div class="mb-3">
                <h5 class="alert alert-warning">@ViewBag.Mensagem</h5>
            </div>
        }
        if (ViewBag.Historicos != null)
        {
            <div class="mb-3">
                <label for="historico">Histórico de versões da página:</label><br />
                <select id="historico" class="form-select" aria-description="historicoinfo">
                    <option value="">Escolha a versão</option>
                    @foreach (var historico in ViewBag.Historicos)
                    {
                        <option value="@historico" @(historico.Equals(Request.QueryString["historico"]) ? "selected" : "")>@historico</option>
                    }
                </select>
                <input type="button" class="btn btn-info" id="btnmudarversao" value="Carregar Versão" /><br />
                <div id="historicoinfo" class="form-text">A versão que só possui o nome do arquivo, é a versão atual. As demais, com data, são versões de backup realizada no dia e hora mostrado.</div>
            </div>
        }
        <div class="mb-3">
            <label for="htmlEditor" class="form-label">Conteúdo da página:</label>
            <textarea rows="10" cols="7" id="htmlEditor" name="htmlEditor" class="form-control">@Model[1]</textarea>
            <input type="hidden" value="@Model[0]" name="pagina" id="pagina" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="/admin/pagina/@(Request.Url.Query)" class="btn btn-secondary">Cancelar</a>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#btnmudarversao").click(function () {
            var historico = $("#historico").val();
            if (!!historico) {
                location.href = "?historico=" + historico;
            }
        });
    </script>
    <script type="text/javascript">
        var CKEDITOR_BASEPATH = '//cdn.pqt.com.br/ckeditor4-4.22.1/';
    </script>
    <script type="text/javascript" src="//cdn.pqt.com.br/ckeditor4-4.22.1/ckeditor.min.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            CKEDITOR.replace("htmlEditor");
        });
    </script>
}
