@model Essenciais.MVC.Models.Usuario
@{
    ViewBag.Title = "Apagar usuário " + Model.NomeExibicao;
}
<div class="row">
    <h1>Deseja apagar o usuário: <em>@Model.NomeExibicao</em>?</h1>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        if (!string.IsNullOrEmpty(ViewBag.Mensagem))
        {
            <div class="mb-3">
                <h5 class="alert alert-warning">@ViewBag.Mensagem</h5>
            </div>
        }

        @Html.Partial("_UsuarioInfos", Model)

        <div class="mb-3">
            @Html.HiddenFor(model => model.Id)
            <button type="submit" class="btn btn-primary">Apagar</button>
            <a href="/admin/usuario/@(Request.Url.Query)" class="btn btn-secondary">Cancelar</a>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
