@model Domain.Models.Retorno<Essenciais.MVC.Models.Usuario>
@{
    ViewBag.Title = "Detalhar - " + Model.Data.NomeExibicao;
}
<div class="row">
    <h1>Usuario: <em>@Model.Data.NomeExibicao</em></h1>

    @Html.Partial("_UsuarioInfos", Model.Data)

    <div class="mb-3">
        <a href="@(Model.RootPath)editar/@Model.Data.Id@(Request.Url.Query)" class="btn btn-primary">Editar Usu치rio</a>
        -
        <a href="@(Model.RootPath)apagar/@Model.Data.Id@(Request.Url.Query)" class="btn btn-warning">Apagar Usu치rio</a>
        -
        <a href="@(Model.RootPath)@(Request.Url.Query)" class="btn btn-secondary">Listar Usu치rios</a>
        -
        <a href="#" class="btn btn-info btn-resetar-usuario" data-id="@Model.Data.Id" data-nome="@Model.Data.NomeExibicao">Resetar Usu치rio</a>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/resetusuarioconfirma.min.js")
}
